<% if @product.errors.any? %>
  <div id="error_explanation">
    <h3><%= pluralize(@product.errors.count, "error") %></h3>

    <ul>
      <% @product.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>